/*
    Taken from GitHub's styling of contributions in the graph area
*/

.clearfix::before {
    display: table;
    content: "";
}

.capped-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}

.capped-card::before {
    display: table;
    content: "";
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.capped-card::after {
    display: table;
    clear: both;
    content: "";
}

.contrib-data {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}

.capped-cards {
    list-style: none;
}

ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    word-wrap: break-word;
}

.capped-card:nth-child(2n+1) {
    margin-left: 0;
}

.capped-cards .capped-card {
    float: left;
    width: 450px;
}

.capped-card {
    margin: 10px;
    margin-left: 10px;
    list-style: none;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
}

.contributors-graph .capped-card .avatar {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

img.avatar {
    border-style: none;
}

.contributors-graph .capped-card h3 {
    font-weight: normal;
}

.capped-card h3 {
    font-size: 20px;
    line-height: 100%;
}

.contributors-graph .capped-card .rank {
    float: right;
    font-size: 13px;
    color: #586069;
}

.contributors-graph .capped-card h3 {
    font-weight: normal;
}

.contributors-graph .capped-card .ameta {
    display: block;
    font-size: 12px;
    color: #c6cbd1;
    box-sizing: border-box;
}

.capped-card {
    list-style: none;
}

.capped-card h3 {
    padding: 10px;
    margin: 0;
    line-height: 100%;
    border-bottom: 1px solid #eaecef;
    font-size: 20px;
}

.contributors-graph .capped-card .rank {
    float: right;
    font-size: 13px;
    color: #586069;
    box-sizing: border-box;
}

a.aname {
    color: #0366d6;
    text-decoration: none;
    background-color: transparent;
}

.contributors-graph .capped-card .cmt {
    color: #586069;
}

.a {
    color: #28a745;
}

.d {
    color: #cb2431;
}
