[report]
show_missing = True

[run]
source = pyramid
include = */pyramid/*
omit =
    */setup.py
    */pyramid/__check_build/*
    */pyramid/_build_utils/*
    */pyramid/setup.py
    */pyramid/__init__.py
    */pyramid/compat/matplotlib.py
    */pyramid/utils/visualization.py
