[report]
show_missing = True

[run]
source = pmdarima
include = */pmdarima/*
omit =
    */setup.py
    */pmdarima/__check_build/*
    */pmdarima/_build_utils/*
    */pmdarima/_config.py
    */pmdarima/setup.py
    */pmdarima/__init__.py
    */pmdarima/compat/matplotlib.py
    */pmdarima/utils/tests/test_vis.py
    */pmdarima/utils/visualization.py
