trigger:
  # Trigger for pushes on every branch
  branches:
    include:
    - '*'

  # Trigger for all tags
  tags:
    include:
    - '*'

pr:
  # Cancel if new commits are pushed to the same PR
  autoCancel: true

  # Trigger for PRs on all branches
  branches:
    include:
    - '*'

variables:
  # Read deployment variables from our secret group
  - group: deploy-vars

# Our dependencies only support 64-bit 3.6+ for conda, so that is all we support
# We split these into 3 groups because they are all slightly different (rather than adding a condition on every step)
#  - Linux: Build wheel, then build conda from wheel
#  - Mac: Requires sudo, then build wheen, then build conda from wheel
#  - Windows: Build conda from source
jobs:
- job: Linux

  pool:
    vmImage: 'ubuntu-18.04'

  strategy:
    matrix:
      Python36:
        python.version: '3.6'
        architecture: 'x64'

      Python37:
        python.version: '3.7'
        architecture: 'x64'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: '$(architecture)'
    displayName: 'Setting Python version and system architecture'

  - template: build_tools/azure/conda/linux.yml

- job: Mac

  pool:
    vmImage: 'macOS-10.14'

  strategy:
    matrix:
      Python36:
        python.version: '3.6'
        architecture: 'x64'

      Python37:
        python.version: '3.7'
        architecture: 'x64'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: '$(architecture)'
    displayName: 'Setting Python version and system architecture'

  - template: build_tools/azure/conda/mac.yml

- job: Windows

  pool:
    vmImage: 'vs2017-win2016'

  strategy:
    matrix:
      Python36:
        python.version: '3.6'
        architecture: 'x64'

      Python37:
        python.version: '3.7'
        architecture: 'x64'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: '$(architecture)'
    displayName: 'Setting Python version and system architecture'

  - template: build_tools/azure/conda/windows.yml

- template: build_tools/azure/jobs.yml
