trigger:
  # Trigger for pushes on every branch
  branches:
    include:
    - '*'

  # Trigger for all tags
  tags:
    include:
    - '*'

pr:
  # Cancel if new commits are pushed to the same PR
  autoCancel: true

  # Trigger for PRs on all branches
  branches:
    include:
    - '*'

variables:
  # Read deployment variables from our secret group
  - group: deploy-vars

# Our dependencies only support 64-bit 3.6+ for conda, so that is all we support
# We split these into 3 groups because they are all slightly different (rather than adding a condition on every step)
#  - Linux: Build wheel, then build conda from wheel
#  - Mac: Requires sudo, then build wheel, then build conda from wheel
#  - Windows: Build conda from source
jobs:
#- job: Linux
#
#  pool:
#    vmImage: 'ubuntu-18.04'
#
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#        architecture: 'x64'
#
#      Python37:
#        python.version: '3.7'
#        architecture: 'x64'
#
#  steps:
#  - task: UsePythonVersion@0
#    inputs:
#      versionSpec: '$(python.version)'
#      architecture: '$(architecture)'
#    displayName: 'Setting Python version and system architecture'
#
#  - bash: echo "##vso[task.prependpath]$CONDA/bin"
#    displayName: 'Adding conda to PATH'
#
#  - template: build_tools/azure/conda/common.yml
#  - template: build_tools/azure/conda/unix.yml
#  - template: build_tools/azure/conda/deploy.yml
#
#- job: Mac
#
#  pool:
#    vmImage: 'macOS-10.14'
#
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#        architecture: 'x64'
#
#      Python37:
#        python.version: '3.7'
#        architecture: 'x64'
#
#  steps:
#  - task: UsePythonVersion@0
#    inputs:
#      versionSpec: '$(python.version)'
#      architecture: '$(architecture)'
#    displayName: 'Setting Python version and system architecture'
#
#  - bash: |
#      echo "##vso[task.prependpath]$CONDA/bin"
#      sudo chown -R $USER $CONDA
#    displayName: 'Adding conda to PATH'
#
#  - template: build_tools/azure/conda/common.yml
#  - template: build_tools/azure/conda/unix.yml
#  - template: build_tools/azure/conda/deploy.yml
#
#- job: Windows
#
#  pool:
#    vmImage: 'vs2017-win2016'
#
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#        architecture: 'x64'
#
#      Python37:
#        python.version: '3.7'
#        architecture: 'x64'
#
#  steps:
#  - task: UsePythonVersion@0
#    inputs:
#      versionSpec: '$(python.version)'
#      architecture: '$(architecture)'
#    displayName: 'Setting Python version and system architecture'
#
#  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
#    displayName: 'Adding conda to PATH'
#
#  - template: build_tools/azure/conda/common.yml
#  - template: build_tools/azure/conda/windows.yml
#  - template: build_tools/azure/conda/deploy.yml
#
#- job: test_tagging
#
#  pool:
#    vmImage: 'vs2017-win2016'
#
#  steps:
#  - bash: build_tools/azure/test_version_tagging.sh
#    # Only want to run this on branches/PRs. NOT tags
#    condition: not(contains(variables['Build.SourceBranch'], 'tags'))
#    displayName: 'Testing git tag logic'
- job: Linux
  pool:
    vmImage: 'ubuntu-18.04'

  strategy:
    matrix:
      Python36:
        python.version: '3.6'
        architecture: 'x64'

      Python37:
        python.version: '3.7'
        architecture: 'x64'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: '$(architecture)'
    displayName: 'Setting Python version and system architecture'

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: 'Adding conda to PATH'

  - script: conda update conda --yes
    displayName: 'Updating Conda'

  - script: conda install python=$(python.version) --yes
    displayName: 'Fixing conda Python version'

  - script: conda install conda-build anaconda-client --yes
    displayName: 'Installing conda-build and anaconda-client'

  - script: conda build --python=$(python.version) --numpy=1.17.3 conda/
    displayName: 'Building conda distribution'

- job: macOS
  pool:
    vmImage: 'macOS-10.14'

  strategy:
    matrix:
      Python36:
        python.version: '3.6'
        architecture: 'x64'

      Python37:
        python.version: '3.7'
        architecture: 'x64'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: '$(architecture)'
    displayName: 'Setting Python version and system architecture'

  - bash: |
      echo "##vso[task.prependpath]$CONDA/bin"
      sudo chown -R $USER $CONDA
    displayName: 'Adding conda to PATH'

  - script: conda update conda --yes
    displayName: 'Updating Conda'

  - script: conda install python=$(python.version) --yes
    displayName: 'Fixing conda Python version'

  - script: conda install conda-build anaconda-client --yes
    displayName: 'Installing conda-build and anaconda-client'

  - script: conda build --python=$(python.version) --numpy=1.17.3 conda/
    displayName: 'Building conda distribution'
