# recursive-include doc *
recursive-include examples *
recursive-include pmdarima/__check_build *.c *.pyx *.pyd *.so *.dylib *.dll
recursive-include pmdarima/arima *.c *.pyx *.pyd *.so *.dylib *.dll
recursive-include pmdarima/preprocessing/exog *.c *.pyx *.pyd *.so *.dylib *.dll
recursive-include pmdarima/compat *.pyx *.pyd
recursive-include pmdarima/datasets *.pyx *.pyd
recursive-include pmdarima/utils *.pyx *.pyd
include README.md
include requirements.txt
