Cython>=0.29
joblib>=0.11
numpy>=1.17.3
pandas>=0.19
scikit-learn>=0.22
scipy>=1.3.3,<1.4.0  # TODO: Remove this when 1.4 is released. ADO tries to install scipy-1.4.0rc1 without it
six>=1.5
statsmodels>=0.10.2
pathlib
