joblib>=1.2.0
Cython>=3.0.6
numpy>=2.0.0,<3
pandas>=1.4,!=2.1.0
scikit-learn>=1.5.2
scipy>=1.10.0
statsmodels>=0.14.4
urllib3>=2.2.0
setuptools>=38.6.0,!=50.0.0
packaging>=17.1  # Bundled with setuptools, but want to be explicit
