numpy>=2.0.0
scipy>=1.13.0
statsmodels>=0.14.2
cython>=3.0.0
scikit-learn>=0.22
pandas>=0.19
patsy
pytest
pytest-mpl
pytest-benchmark
setuptools>=38.6.0,!=50.0.0
packaging>=17.1  # Bundled with setuptools, but want to be explicit
wheel
twine>=1.13.0
readme_renderer
matplotlib
urllib3
