numpy==2.0.0
scipy==1.13.0
cython==3.0.0
patsy
pytest
pytest-mpl
pytest-benchmark
wheel
twine>=1.13.0
readme_renderer
matplotlib
setuptools>=38.6.0,!=50.0.0
packaging>=17.1  # Bundled with setuptools, but want to be explicit
