{# This is a Jinja2 template that will render out to $ROOT/conda/meta.yaml #}
package:
  name: 'pmdarima'
  version: '{{ VERSION }}'

{# Path where setup.py lies from root/conda (since that is where this will be rendered) #}
source:
  git_url: ../

build:
  {% raw %}
  number: {{ environ.get('GIT_DESCRIBE_NUMBER', 0) }}
  {% endraw %}
  script: 'python -m pip install --no-deps --ignore-installed .'
  ignore_run_exports:
    - pip
    - statsmodels
    - numpy
    - numpy-base
    - scipy
    - cython
    - scikit-learn
    - pandas
    - python

  requirements:
    build:
      {% raw %}
      - python {{ PY_VER }}
      (% endraw %)
      - {{ numpy_version }}
      {% raw %}
      - {{ compiler('c') }}
      {% endraw %}

    host:
      - pip
      {% raw %}
      - python {{ PY_VER }}
      (% endraw %)
      {% for package in requirements %}
      - {{ package }}
      {% endfor %}

    run:
      {% raw %}
      - python {{ PY_VER }}
      (% endraw %)
      {% for package in requirements %}
      - {{ package }}
      {% endfor %}

test:
  commands:
    {# conda-forge has the wrong versions pinned, so we have to pip install these #}
    - pip install pytest pytest-mpl pytest-benchmark
    {# Cannot use `make` in the meta.yaml file #}
    - pytest --showlocals --durations=20 --pyargs pmdarima --benchmark-skip

about:
  home: https://github.com/alkaline-ml/pmdarima
  license: MIT
  license_file: LICENSE
  summary: Python's forecast::auto.arima equivalent

extra:
  maintainers:
    - Taylor G. Smith
