# This is used in scikit-learn's Appveyor installation to fetch numpy/scipy wheels:
# Fetch numpy and scipy wheels from the sklearn rackspace wheelhouse.
# Those wheels were collected from http://www.lfd.uci.edu/~gohlke/pythonlibs/
# This is a temporary solution. As soon as numpy and scipy provide official
# wheel for windows we ca delete this --find-links line.
--find-links www.lfd.uci.edu/~gohlke/pythonlibs/

numpy
scipy
scikit-learn
statsmodels
cython
nose
nose-timer
wheel
wheelhouse_uploader