name: Update Downloads Badges

on:
  schedule:
    - cron: '15 17 * * *'  # Every day at 5:15pm UTC

jobs:
  update:
    name: Update Downloads Badges
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install Requirements
        run: python -m pip install requests
      - name: Run Python Script
        run: python etc/downloads_badges.py
        env:
          ZAPIER_SHA: ${{ secrets.ZAPIER_SHA }}