name: Test VERSION tagging

on:
  push:
    branches:
      - '*'

  pull_request:
    branches:
      - '*'

jobs:
  test-tagging:
    name: Test VERSION tagging

    runs-on: ubuntu-latest

    steps:
      # This LOOKS like it is checking out 'master', but it is using the 'master' version of the checkout action
      # It is actually checking out the most recent version on this branch
      - name: Checkout
        uses: actions/checkout@master

      - name: Setting up Python
        uses: actions/setup-python@v1.1.1
        with:
          python-version: '3.7'
          architecture: 'x64'

      - name: Ensure VERSION tagging works
        run: |
          chmod +x build_tools/github/test_tagging.sh
          ./build_tools/github/test_tagging.sh
        shell: bash